---
import EventCard from "../../components/EventCard/EventCard.astro";
import Layout from "../../layouts/Layout.astro";
import type { TimeRecord } from "../../models/airtable";
import { getData } from "../../util/fetchUtil";
import { groupBy } from "../../util/groupUtil";

import { formatDate } from "../../util/localeUtil";

export interface Props {
  date: string;
  relevantSlots: TimeRecord[];
  previousDate?: string;
  nextDate?: string;
}

export async function getStaticPaths() {
  const data = await getData();

  const dayData = groupBy(data, (v) => v.fields.date);
  const dayKeys = Object.keys(dayData);

  return dayKeys.map((date, index) => {
    const timeSlots = dayData[date];
    return {
      params: { day: formatDate(date, "EEEE") },
      props: {
        date: date,
        relevantSlots: timeSlots,
        previousDate: dayKeys[index - 1],
        nextDate: dayKeys[index + 1],
      },
    };
  });
}

function firstLetterUppercase(str: string) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}

function getNiceType(type: string): string {
  switch (type) {
    case "lightningTalk":
      return "Lyntale";
    case "talk":
      return "Foredrag";
    case "workshop":
      return "Workshop";
    case "discussion":
      return "Diskusjons gruppe";
    case "other":
      return "Other";
    default:
      return "";
  }
}

const { relevantSlots, date, previousDate, nextDate } = Astro.props;
---

<Layout
  title={firstLetterUppercase(formatDate(date, "EEEE")) +
    " - Knowit Fagseminar Roma"}
  currentPage="Program"
>
  <main class="p-1 w-full">
    <section class="flex flex-row items-center justify-center gap-5">
      <a
        class={`caret  ${previousDate != null ? "left" : ""}`}
        href={previousDate != null
          ? `/Fagseminar-2022/program/${formatDate(previousDate, "EEEE")}`
          : ""}></a><h2 class="text-center text-4xl font-bold block w-52">
        {firstLetterUppercase(formatDate(date, "EEEE d"))}
      </h2><a
        class={`caret  ${nextDate != null ? "right" : ""}`}
        href={nextDate != null
          ? `/Fagseminar-2022/program/${formatDate(nextDate, "EEEE")}`
          : ""}></a>
    </section>

    <ul class="w-1/2 m-auto flex flex-col gap-7">
      {
        relevantSlots.map((slot) => {
          const { fields, id } = slot;
          return (
            <EventCard
              id={id}
              userName={fields.userIds ?? ""}
              time={fields.start + "-" + fields.end}
              title={fields.title}
              duration={fields.duration?.toString()}
              href={"/Fagseminar-2022/slot/" + id}
              summary={typeof fields.userIds === "undefined"}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  .caret {
    width: 0;
    height: 0;
    display: block;
    border: 10px solid transparent;
  }

  .caret.right {
    border-left-color: black;
  }
  .caret.left {
    border-right-color: black;
  }
</style>
