---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Knowit Fagseminar Roma 2022" currentPage="Home">
  <main>
    <img src="" class="w-full h-10 mx-auto" />
    <h2>Program 20-23 October 2022</h2>
  </main>
</Layout>

<style>
  @tailwind base;

  @layer base {
    h2 {
      @apply font-bold text-5xl mx-auto w-fit;
    }
  }
</style>
