---
import FavoriteButton from "../components/Favorite/FavoriteButton.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Knowit Fagseminar Roma 2022" currentPage="Home" fullLogo={true}>
  <main class="flex flex-col gap-y-6 md:pt-12">
    <section class="w-full text-center">
      <h2 class="block text-3xl sm:text-5xl font-bold w-full text-center mb-3">
        Program 20-23 October 2022
      </h2>
      <p class="w-full max-w-5xl text-center mx-auto">
        Knowit Objectnet loren isun sit amet, loren isun sit ametloren isun sit
        ametloren isun sit ametloren isun sit ametloren isun sit ametloren isun
        sit ametloren isun sit ametloren isun sit ametloren isun sit ametloren
        isun sit ame. Knowit Objectnet loren isun sit amet, loren isun sit
        ametloren isun sit ametloren isun sit ametloren isun sit ametloren isun
        sit ametloren isun sit ametloren isun sit ametloren isun sit ametloren
        isun sit ametloren isun sit ame.
      </p>
    </section>

    <h3 class="text-center text-3xl font-bold mt-4">Agenda</h3>

    <div>
      <a>
        <h1>Thursday 20</h1>
        <ul>
          <li>
            <time datetime="2022-10-20T15:00:00">15:00</time>
            <strong>Hotellet åpner for innsjekk</strong>
          </li>
          <li>
            <time datetime="2022-10-20T18:00:00">18:00</time>
            <strong>Avreise fra Gardermoen</strong>
          </li>
          <li>
            <time datetime="2022-10-20T21:20:00">21:20</time>
            <strong>Ankomst til Roma</strong>
          </li>
          <li>
            <time datetime="2022-10-22:45:00">22:45</time>
            <strong>Innsjekk på hotellet</strong>
          </li>
        </ul>
      </a>
      <a href="/Fagseminar-2022/program/friday">
        <h1>Friday 21</h1>

        <ul>
          <li>
            <time datetime="2022-10-21T08:30:00">07:00</time>
            <strong>Frokost</strong>
          </li>
          <li>
            <time datetime="2022-10-21T09:00:00">09:00 - 10:00</time>
            <strong>Internmøte</strong>
          </li>
          <li>
            <time datetime="2022-10-21T10:15:00">10:15 - 17:00</time>
            <strong>Fagseminar</strong>
          </li>
          <li>
            <time datetime="2022-10-21T20:00:00">20.00</time>
            <strong>Middag på resturanter</strong>
          </li>
        </ul>
      </a>
      <a href="">
        <h1>Saturday 22</h1>

        <ul>
          <li>
            <time datetime="2022-10-22T08:30:00">07.00</time>
            <strong>Frokost</strong>
          </li>
          <li>
            <time datetime="2022-10-22T08:30:00">09:00</time>
            <strong>Aktiviteter</strong>
          </li>
          <li>
            <time datetime="2022-10-22T08:30:00">18:30</time>
            <strong>Transfer til Vingården</strong>
          </li>
          <li>
            <time datetime="2022-10-22T08:30:00">19:30</time>
            <strong>Middag på Vingård</strong>
          </li>
        </ul>
      </a>
      <a href="/Fagseminar-2022/program/sunday">
        <h1>Sunday 23</h1>

        <ul>
          <li>
            <time datetime="2022-10-20T08:30:00">07:00</time>
            <strong>Frokost</strong>
          </li>
          <li>
            <time datetime="2022-10-20T08:30:00">09:00</time>
            <strong>Fagseminar</strong>
          </li>
          <li>
            <time datetime="2022-10-20T08:30:00">13:50</time>
            <strong>Transfer til flyplassen</strong>
          </li>
          <li>
            <time datetime="2022-10-20T08:30:00">17:00</time>
            <strong>Avreise fra Roma</strong>
          </li>
        </ul>
      </a>
    </div>
  </main>
</Layout>

<style>
  @tailwind base;

  @layer base {
    h2 {
      @apply font-bold text-5xl mx-auto w-fit;
    }
  }

  div {
    @apply grid w-full h-fit grid-cols-1 sm:grid-cols-2 lg:grid-cols-4;
  }

  div a {
    @apply w-full px-8  border-2 border-transparent h-full py-4 hover:border-klollipop;
  }

  a h1 {
    @apply text-kleather font-bold text-2xl py-2 px-1;
  }

  a ul {
    @apply flex flex-col border-t-4 border-t-kleather;
  }

  ul li {
    @apply h-1/4 py-4;
  }

  li strong {
    @apply block pt-1 text-ellipsis;
  }

  a:hover ul {
    @apply border-t-klollipop;
  }

  a:hover ul li:not(:first-child) {
    @apply border-t-klollipop;
  }

  ul li:not(:first-child) {
    @apply border-t-4 border-t-kflamingo;
  }
</style>
