---
import FavoriteButton from "../components/Favorite/FavoriteButton.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Knowit Fagseminar Roma 2022" currentPage="Home">
  <main>
    <img src="" class="w-full h-10 mx-auto" />
    <section class="w-full text-center">
      <h2 class="block text-5xl font-bold w-full text-center">
        Program 20-23 October 2022
      </h2>
      <p class="w-2/3 text-center mx-auto">
        Knowit Objectnet loren isun sit amet, loren isun sit ametloren isun sit
        ametloren isun sit ametloren isun sit ametloren isun sit ametloren isun
        sit ametloren isun sit ametloren isun sit ametloren isun sit ametloren
        isun sit ame.
      </p>
    </section>

    <div>
      <section>
        <ul>
          <li>text text text</li><li>text text text</li><li>
            text text text
          </li><li>text text text</li>
        </ul>
      </section>
      <section>
        <ul>
          <li>text text text</li><li>text text text</li><li>
            text text text
          </li><li>text text text</li>
        </ul>
      </section>
      <section>
        <ul>
          <li>text text text</li><li>text text text</li><li>
            text text text
          </li><li>text text text</li>
        </ul>
      </section>
      <section>
        <ul>
          <li>text text text</li><li>text text text</li><li>
            text text text
          </li><li>text text text</li>
        </ul>
      </section>
    </div>
  </main>
</Layout>

<style>
  @tailwind base;

  @layer base {
    h2 {
      @apply font-bold text-5xl mx-auto w-fit;
    }
  }

  #logo {
    @apply h-96;
  }
</style>
