---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Knowit Fagseminar Roma 2022" currentPage="Home">
  <main>
    <h2>HOME</h2>
  </main>
</Layout>

<style lang="scss" is:global>

</style>

<style>

</style>
