---
import { Icon } from "astro-icon";
import KnowitRomaHeader from "../components/Logo/KnowitRomaHeader.astro";
import RomaLogoColored from "../components/Logo/RomaLogoColored.astro";
import RomaLogoMono from "../components/Logo/RomaLogoMono.astro";
import ProgramNav from "../components/ProgramNav.svelte";

export interface Props {
  title: string;
  currentPage: "Home" | "Program" | "Favoritter";
  fullLogo?: boolean;
}

const { title, currentPage, fullLogo } = Astro.props;

const linkNotSelected = "navLink";
const linkSelected = "navLink selectedPage";
---

<!DOCTYPE html>
<html lang="en" class="w-screen min-h-full h-screen min-w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full mx-auto min-h-screen flex flex-col justify-between">
    <header class="sticky top-0 bg-ksand z-20">
      <hr class="border-[4px] text-kflamingo" />
      <nav
        class="w-full px-4 lg:px-0 text-center flex justify-between my-auto h-fit py-2 items-center"
      >
        <a href="/Fagseminar-2022/" class="w-80 sm:w-92"
          ><KnowitRomaHeader />
        </a>

        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
          <Icon pack="eva" name="menu-fill" />
        </label>

        <ul class="menu">
          <li>
            <a
              class={currentPage === "Home" ? linkSelected : linkNotSelected}
              href="/Fagseminar-2022/">Home</a
            >
          </li>
          <li>
            <ProgramNav
              client:load
              style={currentPage === "Program" ? linkSelected : linkNotSelected}
              >Program</ProgramNav
            >
          </li>
          <li>
            <a
              class={currentPage === "Favoritter"
                ? linkSelected
                : linkNotSelected}
              href="/Fagseminar-2022/favoritter">Favoritter</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div class="px-4 xl:px-0 mb-6 xl:mb-0 mt-6">
      {
        fullLogo ? (
          <div class="w-fit px-4 md:p4 mx-auto align-middle items-center">
            <RomaLogoColored />
          </div>
        ) : (
          <div class="w-96 md:w-fit md:mb-5 text-center mx-auto">
            <RomaLogoMono />
          </div>
        )
      }
    </div>
    <slot />

    <footer class="w-full pt-4 xl:py-4">
      <section class="mt-auto p-4 bg-kleather">
        <h3 class="text-2xl font-bold text-kmint mb-3">Stay Informed</h3>
        <p class="text-[white] text-ellipsis">
          We are available on our slack channel <a
            href="https://knowitobjectnet.slack.com/archives/C038QKDDTN3"
            class="underline">#fagseminar-høst-2022</a
          >
        </p>
      </section>
    </footer>

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        html {
          font-family: Arial, normal;
          @apply w-screen min-h-full h-screen max-w-full;
        }
        body {
          @apply bg-ksand lg:px-20;
        }
        main {
          @apply w-full h-full mx-auto py-2 md:py-5 px-4 lg:px-0;
        }
      }

      .navLink,
      .selectedPage {
        @apply inline-block md:px-2 md:py-2;
      }
      .selectedPage {
        @apply font-bold md:border-b-[3px] border-b-klollipop;
      }

      html {
        font-family: Arial, normal;
      }
    </style>
    <style>
      ul {
        @apply flex flex-row items-start md:gap-9;
      }
      li {
        @apply inline-block;
      }

      .menu > li {
        @apply overflow-hidden;
      }

      #menu-toggle {
        display: none;
      }

      .menu-button {
        display: block;
        background-color: #000;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }

      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }

      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }

      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }

      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 768px) {
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          margin-top: 50px;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          @apply border-solid border border-kblack border-b-0;

          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          @apply bg-ksand;
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
        }

        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }
        #menu-toggle:checked ~ .menu:last-child {
          border-bottom: 2px solid #444;
        }
      }
    </style>
  </body>
</html>
