---
export interface Props {
  title: string;
  currentPage: "Home" | "Program" | "Favoritter";
}

const { title, currentPage } = Astro.props;

const linkNotSelected = "navLink";
const linkSelected = "navLink selectedPage";
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-11/12 mx-auto h-full flex flex-col justify-between">
    <header>
      <hr class="border-[4px] text-kflamingo" />
      <nav class="w-full text-center flex justify-between my-auto py-3">
        <h1 class="font-bold text-2xl">
          <a href="/Fagseminar-2022/">Romafagseminar 2022</a>
        </h1>
        <ul>
          <li>
            <a
              class={currentPage === "Home" ? linkSelected : linkNotSelected}
              href="/Fagseminar-2022/">Home</a
            >
          </li>
          <li>
            <a
              class={currentPage === "Program" ? linkSelected : linkNotSelected}
              href="/Fagseminar-2022/program">Program</a
            >
          </li>
          <li>
            <a
              class={currentPage === "Favoritter"
                ? linkSelected
                : linkNotSelected}
              href="/Fagseminar-2022/favorites">Favoritter</a
            >
          </li>
        </ul>
      </nav>
      <div id="logo" class="w-11/12 h-24 text-center bg-[yellow]">
        LOGO FOR EVENT PLACEHOLDER
      </div>
    </header>
    <slot />

    <footer class="bg-kleather w-full p-4 mb-10">
      <h3 class="text-2xl font-bold text-kmint mb-3">Stay Informed</h3>
      <p class="text-[white]">
        We are available on our slack channel #fagseminarroma
      </p>
    </footer>

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        html {
          font-family: Arial, normal;
        }
        body {
          @apply bg-ksand;
        }
        main {
          @apply w-full h-full pt-14 m-auto;
        }
      }

      html {
        font-family: Arial, normal;
      }
    </style>
    <style>
      ul {
        @apply flex flex-row items-start gap-9;
      }
      li {
        @apply inline-block;
      }

      .navLink,
      .selectedPage {
        @apply block px-2 py-2;
      }
      .selectedPage {
        @apply font-bold border-b-[3px] border-b-kblack;
      }
    </style>
  </body>
</html>
