---
import ProgramNav from "../components/ProgramNav.svelte";

export interface Props {
  title: string;
  currentPage: "Home" | "Program" | "Favoritter";
  fullLogo?: boolean;
}

const { title, currentPage, fullLogo } = Astro.props;

const linkNotSelected = "navLink";
const linkSelected = "navLink selectedPage";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-11/12 mx-auto min-h-screen flex flex-col justify-between">
    <header>
      <hr class="border-[4px] text-kflamingo" />
      <nav class="w-full text-center flex justify-between my-auto py-3">
        <h1 class="font-bold text-2xl">
          <a href="/Fagseminar-2022/">Romafagseminar 2022</a>
        </h1>
        <ul>
          <li>
            <a
              class={currentPage === "Home" ? linkSelected : linkNotSelected}
              href="/Fagseminar-2022/">Home</a
            >
          </li>
          <li>
            <ProgramNav
              client:load
              style={currentPage === "Program" ? linkSelected : linkNotSelected}
              >Program</ProgramNav
            >
          </li>
          <li>
            <a
              class={currentPage === "Favoritter"
                ? linkSelected
                : linkNotSelected}
              href="/Fagseminar-2022/favorites">Favoritter</a
            >
          </li>
        </ul>
      </nav>
      {
        fullLogo ? (
          <div
            id="logo"
            class="w-full h-64 mt-6 text-center mx-auto bg-[yellow]"
          >
            LOGO FOR EVENT PLACEHOLDER
          </div>
        ) : (
          <div id="logo" class="w-11/12 h-24 text-center mx-auto bg-[yellow]">
            LOGO FOR EVENT PLACEHOLDER
          </div>
        )
      }
    </header>
    <slot />

    <footer class="w-full py-4 mt-auto">
      <section class="mt-auto p-4 bg-kleather">
        <h3 class="text-2xl font-bold text-kmint mb-3">Stay Informed</h3>
        <p class="text-[white]">
          We are available on our slack channel #fagseminar-høst-2022
        </p>
      </section>
    </footer>

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        html {
          font-family: Arial, normal;
        }
        body {
          @apply bg-ksand max-w-screen-xl;
        }
        main {
          @apply w-full h-full mx-auto;
        }
      }

      .navLink,
      .selectedPage {
        @apply block px-2 py-2;
      }
      .selectedPage {
        @apply font-bold border-b-[3px] border-b-klollipop;
      }

      html {
        font-family: Arial, normal;
      }
    </style>
    <style>
      ul {
        @apply flex flex-row items-start gap-9;
      }
      li {
        @apply inline-block;
      }
    </style>
  </body>
</html>
