---
export interface Props {
  title: string;
  currentPage: "Home" | "Program" | "Favoritter";
}

const { title, currentPage } = Astro.props;

const linkNotSelected = "navLink";
const linkSelected = "navLink selectedPage";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-11/12 mx-auto">
    <hr class="border-[4px] text-kflamingo" />
    <header class="w-full text-center flex justify-between my-auto py-3">
      <h1 class="font-bold text-2xl">
        <a href="/Fagseminar-2022/">Romafagseminar 2022</a>
      </h1>
      <nav>
        <ul>
          <li>
            <a
              class={currentPage === "Home" ? linkSelected : linkNotSelected}
              href="/Fagseminar-2022/">Home</a
            >
          </li>
          <li>
            <a
              class={currentPage === "Program" ? linkSelected : linkNotSelected}
              href="/Fagseminar-2022/program">Program</a
            >
          </li>
          <li>
            <a
              class={currentPage === "Favoritter"
                ? linkSelected
                : linkNotSelected}
              href="/Fagseminar-2022/favorites">Favoritter</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <slot />

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        html {
          font-family: Arial, normal;
        }
        body {
          @apply bg-ksand;
        }
      }

      html {
        font-family: Arial, normal;
      }
    </style>
    <style>
      ul {
        @apply flex flex-row items-start gap-9;
      }
      li {
        @apply inline-block;
      }

      .navLink,
      .selectedPage {
        @apply block px-2 py-2;
      }
      .selectedPage {
        @apply font-bold border-b-[3px] border-b-kblack;
      }
    </style>
  </body>
</html>
