---
export interface Props {
  title: string;
  currentPage: "Home" | "Program" | "Favoritter";
}

const { title, currentPage } = Astro.props;

const linkNotSelected = "block";
const linkSelected = "block selectedPage";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-11/12 mx-auto">
    <header class="w-full text-center">
      <hr class="border-[3px] text-kleather" />
      <section class="flex justify-between my-auto py-3">
        <h1 class="font-bold">Knowit Fagseminar Roma</h1>
        <nav class="flex min-w-max justify-evenly border">
          <a
            class={currentPage === "Home" ? linkSelected : linkNotSelected}
            href="/">Home</a
          >
          <a
            class={currentPage === "Program" ? linkSelected : linkNotSelected}
            href="/program">Program</a
          >
        </nav>
      </section>
    </header>
    <slot />

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        html {
          font-family: Arial, normal;
        }
        body {
          @apply bg-ksand;
        }
      }

      html {
        font-family: Arial, normal;
      }
    </style>
    <style>
      .selectedPage {
        @apply font-bold border-b-[3px] border-b-kblack;
      }
    </style>
  </body>
</html>
